@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  --color-acent: #F4F1DE;
  --color-neturl: #2E2E2E;
  --color-info: #D35400;
  --color-cards: #FBC4AB;
  


}

.active{
    @apply border-b border-amber-400 text-amber-500 font-bold
}
body{
 @apply bg-gradient-to-r from-[#FFB347] to-[#FFF8E7] 
}