@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  --color-acent: #F4F1DE;
  --color-neturl: #2E2E2E;
  --color-info: #D35400;
  --color-cards: #FBC4AB;
  --color-success: #B4C408
  


}
body{
  font-family: "Libre Baskerville", serif;
  background-color: #F9F6E6;
}

/* .active{
    @apply border-b border-amber-400 text-amber-500 font-bold
} */
/* body{
 @apply bg-gradient-to-r from-[#FFB347] to-[#FFF8E7] 
} */