@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.active{
    @apply border-b border-amber-400 text-amber-500 font-bold
}
.home{
 @apply bg-gradient-to-r from-[#b5d9f5] to-[#c1f7f7] 
}